@charset "UTF-8";

/**
 * @author Michel Kingma-Lord <0801342@csfoy.ca>
 *
 * TABLE DES MATIERES
 * Normalize
 * Utilitaires
 * Charte typographique
 * 
 *
 */

/* Normalize
   ========================================================================== */
@import url(normalize.css);
/* Utilitaires
   ========================================================================== */



/*** Harmoniser le modèle de boîte avec Box-Sizing ***/
html {
    box-sizing: border-box;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}
.descriptions

figure {
    margin: 0px;
}

img{
    max-width: 100%;
}


/* marges latérales sur écran étroit et centrage sur écran large */
.layout-page{
    padding:2rem 2rem 0;
    background-color: white;
}

@media(min-width:600px){
    .layout-page {
        max-width:1000px;
        margin:auto;
    }
}

/* Charte typographique
   ========================================================================== */

/**
 * Typographie responsive (Mobile First)
   ========================================================================
 * Les valeurs de taille de police suggérées ici sont à titre indicatif.
 * À ajuster selon la direction visuelle et le choix de polices de caractères.
 *
 * Doc des points de rupture :
 * ==========================================================================
 * Écran étroit : de 0 à 600  
 * point de rupture: 600px
 *
 * Écran moyen : de 601 à 800 
 * point de rupture: 800px
 *
 * Écran large : 801 et +
 */


/* Charte typographique
   ========================================================================== */
/* Polices liées */
/* copier ici l'instruction @import url('...'); proposé par Google Fonts */

/* Base décimale */
html{
    font-size: 62.5%;
}

body {
    /* Adapter la famille de polices selon le projet */
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
    /* 16px pour toutes les largeurs d'écran */
    font-size: 1.6rem;
    /* facteur multiplicateur de la taille de la police 1.375x16 = 22 */
    line-height: 1.375;
    background-image: url(../images/moroccan-flower.png);
}
@media (min-width: 600px) {
    body {
        line-height: 1.5;
    }
}
@media (min-width: 800px) {
    body {
        line-height: 1.75;
    }
}

h1,
h2,
h3,
h4{
    /* Adapter la famille de polices selon le projet */
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
}

/* Hiérarchie responsive : plus proche = plus petit  &  plus loin = plus grand */
h1 { /* = 32px */
    font-size: 3.2rem;
    margin-bottom: 0;
}
@media (min-width: 600px) {
    h1 { /* = 40px */
        font-size: 4rem;
    }
}
@media (min-width: 800px) {
    h1 { /* = 48px */
        font-size: 4.8rem;
    }
}

h2 { /* = 24px */
    font-size: 2.4rem;
    margin-top: 0;
    line-height: 1;
}



@media (min-width: 600px) {
    h2 { /* = 32px */
        font-size: 3.2rem;

    }
}
@media (min-width: 800px) {
    h2 { /* = 36px */
        font-size: 3.6rem;
    }
}

h3 { /* = 18px */
    font-size: 1.8rem;
}
@media (min-width: 600px) {
    h3 {  /* = 24px */
        font-size: 2.4rem;
    }
}
@media (min-width: 800px) {
    h3 { /* = 30px */
        font-size: 3rem;
    }
}

h4 { /* = 16px */
    font-size: 1.6rem;
}
@media (min-width: 600px) {
    h4{ /* = 18px */
        font-size: 1.8rem;
    }
}
@media (min-width: 800px) {
    h4 { /* = 22px */
        font-size: 2.2rem;
    }
}

/* Centrer l'introduction */
.introduction {
    text-align: center;
}

/* Ajustement de la main*/
main {
    display: block;
}

/* Mettre l'image en background et ajuster le menu selon les médias*/
@media(min-width:600px){
    .header{
    min-height: 433px;
    background-image: url(../images/photo-montage_1000.jpg);
    background-position: 0 48px;
    background-size: contain; 
    background-repeat: no-repeat;
    font-size: 1.6rem;
    }
    
    .nav--picture{
        display:none;
    }
}

@media (min-width:800px) {
    .header {
        background-size : contain;
    }
}

@media(min-width:601px){
    .nav--header{
        justify-content: space-between;
        flex-wrap: nowrap;
        display: flex;
    }
}
.nav--header{
    flex-wrap: wrap;
    display: flex;
}

/* LOGO */
@media (min-width: 600px) {
    .logo{
        max-width: 250px;
    }    
}

.logo {
    flex-grow: 1;
    text-align: center;
    transition: all 0.5s;
}

/* Séparation en trois colonne des articles.description */

@media (min-width: 600px) {
    .descriptions {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .description {
        flex: 0 1 33%;
        padding: 1.2rem
    }
}

/* Séparation en deux colonnes des sous-articles de liste*/
.nav__list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: black;
    text-transform: uppercase;
    overflow: hidden; 
    margin-bottom: 0;
}

.nav__link, .nav__link--active .nav__link--footer{
    text-decoration: none;
    display: inline-block;
    padding: 0.25rem;
}

/* Liste de navigation Header */
.nav__list.nav__list--sublist{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: White;
    color: blue;
    margin:0;
    padding:0;
    width: 100%;
    order: 1;
}

@media (min-width: 600px) {
    .nav--header .nav__list {
        width: auto;
    }
}

.nav__listItem {
    padding: 0 .7em;
    padding-top: .5em;
    padding-bottom: .5em;
    position: relative; /* Référence de positionnement pour le sous-menu */
}

  /* Liste de navigation Footer */
.nav__list{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    background-color: black;
    padding-left: 0;
}
 
.nav__listItem:nth-child(1){
    background-color: lightblue;
    color: orange;
    text-decoration: none;
}

.nav__link--footer{
    text-decoration: none;
    color: white;
}

.nav__link--active{
    text-decoration: none;
    color: orange
}

/* Navigation et Surlignage*/

.nav__link:hover, .nav__link--active:hover, .nav__link--footer:hover{
    color: orange;
}

/* Application d'un background et séparation de la section en deux colonnes */
.encadres{
    display: flex;
    margin-top: 0%;
    margin-bottom: 0%;
}
    
.encadres__item{
    background-color:lightgrey;
    margin-right: 1.5rem; 
    padding: 2rem 1rem 1rem 1rem; */
}

.encadres__item:nth-child(2) {
    background-color: lightgrey;
}

.credits {
    padding-top: 2rem;
    background-color:lightgray;
    padding-right: 2rem;
}

.copyright {
    text-align: center;
}